.slot-card-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}
.app-slot-card {
  width: 100%;
  display: grid;
  /* Adjust the repeat function to use auto-fit or auto-fill with minmax for flexible column sizes */
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr)); /* Example: change 160px to your desired minimum column width */
  grid-template-rows: auto;
  gap: 5px;
}
