.navigation {
  background-color: #2a3139;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
  font-size: 14px;
  color: var(--steel-gray);
}
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.active {
  color: var(--pure-white);
  position: relative;
}

.navigation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.green-line {
  position: absolute;
  top: -12px;
  left: -12.9px;
  width: 6px;
  height: 77px;
  border-radius: 10px;
  background-color: var(--vibrant-green);
}