<div class="main-container">
  <app-sidenav></app-sidenav>
  <div>
    <div class="top-background"></div>
    <div class="slots-container">
      <div class="slots-slider">
        <!-- this must be changed -->
        <img
          style="max-width: 93vw"
          src="../../../assets/slider/slider.png"
          alt="slider"
        />
      </div>
      <div class="slots-list-wrapper">
        <app-slots-list></app-slots-list>
      </div>
      <app-slot-card></app-slot-card>
    </div>
  </div>
</div>
