<div class="slots-container-wrapper">
  <div class="top-background"></div>
  <div class="slots-container">
    <div class="background-image-div"></div>
    <div class="slots-list-wrapper">
      
      @if(filteredCategories$ | async; as categories){
      <app-slots-navigator
        [slotNavigators]="categories"
        [hasGamesCount]="true"
        (itemClick)="onCategoryClick($event)"
      ></app-slots-navigator>

      } @if(getProviders$ | async; as providers){
      <app-slots-navigator
        [slotNavigators]="providers"
        (itemClick)="onProviderClick($event)"
      ></app-slots-navigator>
      }

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
