.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
}
.slots-list-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--midnight-blue);
  padding: 17px 22px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.slots-list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.slotNavigators {
  white-space: nowrap;
}
.icon-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.games-count {
  position: relative;
  top: -10px;
}

.icon-title-wrapper.active::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--vibrant-green);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.icon-title-wrapper.active .games-count {
  color: var(--vibrant-green);
}
.bg {
  display: flex;
  gap: 25px;
  background-color: var(--ultra-blue);
  padding: 17px 22px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
