.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
}
.slots-providers-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--midnight-blue);
  padding: 17px 22px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.slots-providers {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.slotNavigators {
  white-space: nowrap;
}
.icon-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.games-count {
  position: relative;
  top: -10px;
}

.slots-categories {
  display: flex;
  gap: 25px;
  background-color: var(--ultra-blue);
  padding: 17px 22px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
