<div class="slots-list-wrapper slots-lits-wrapper-bg" [ngClass]="{ bg: hasBg }">
  <div class="slots-list">
    @for( slotNavigator of slotNavigators.slice(0, numOfItems()); let id =
    $index; track id ){
    <div
      [class.active]="
        activeItemIdentifier ===
        (slotNavigator.category ? 'category-' : 'provider-') +
          slotNavigator.name
      "
      class="icon-title-wrapper"
    >
      <img class="svg-image" [src]="slotNavigator.category | imagePaths" />

      <a (click)="onItemClick(slotNavigator)"
        >{{ slotNavigator.name | uppercase }}
      </a>
      @if(hasGamesCount){
      <span class="games-count">
        {{ slotNavigator.totalGames }}
      </span>
      }
    </div>
    }
  </div>
  @if(slotNavigators.length>ActivateDropDownNum){
  <div class="dropdown" (click)="changeNumOfItems()">
    <span> See More</span>
    <img src="assets/dropdown/dropdown-arrow.svg" alt="arrow" />
  </div>
  }
</div>
