<div class="slots-categories">
  <div
    class="icon-title-wrapper"
    *ngFor="let categories of filteredCategories$ | async; let id = index"
  >
    <img class="svg-image" [src]="iconPaths[id]" />
    <a
      [routerLink]="['./', 'categories', categories.category]"
      routerLinkActive="active"
      >{{ categories.name }} <span class="games-count">
        {{ categories.totalGames }}
      </span></a
    >
  </div>
</div>
<div *ngIf="getProviders$ | async as providers">
  <app-providers [providers]="providers"></app-providers>
</div>
<router-outlet></router-outlet>
